<div style="background-color:#0C2E59;" >
<p style="margin: auto; padding: 20px; text-align:center;color:#fff;font-size:22px; ">ETUDE DE MARCHE : La Poule qui chante
    <br/><br/>~ Nettoyage et pr√©paration des donn√©es ~</p>
</div>

<div style="background:#FFEEDA;padding:10px;">
    <p> <strong>OBJECTIF DE CE NOTEBOOK :</strong>
<br/>Nettoyez les donn√©es collect√©es en vu de r√©aliser une √©tude de march√© dans le cadre d'un ciblage de d√©veloppement √† l'international de l'entreprise "La poule qui chante" (entreprise fran√ßaise d‚Äôagroalimentaire s√©pcialis√©e dans l‚Äô√©levage et la vente de poulets sous le label ‚ÄúPoulet Agriculture Biologique‚Äù).</strong>
    </p>
<p>Pour plus de clart√© les analyses seront trait√©es dans un autre notebook.</p>
    <p>Notebook avec les analyses : <a href="./RIVIERE_Aur√©lie_2_clustering_visualisations_032025.ipynb" target="_blank">Notebook Analyses</a>
</p>
</div>

<div style="background-color:#638BC9;" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">√âtape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">1.1 - Importation des librairies</h3>
</div>

In [1]:
#Importation de la librairie Pandas
import pandas as pd

#Importation de la librairie Numpy
import numpy as np

In [2]:
#Importation de la librairie Tabulate
#Biblioth√®que permettant l'affichage sous forme de tableau
from tabulate import tabulate

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">1.2 - Chargement des fichiers</h3>
</div>

<div style="background:#FFEEDA;padding:10px;">
    <p> Dans le cadre de notre analyse 4 ensembles de donn√©es ont √©t√© collect√©s : </p>
    <ul>
        <li><strong>Disponibilit√© Alimentaires :</strong> quantit√© de volailles disponibles par pays. Ces donn√©es incluent les volumes disponibles exprim√©s en unit√©s sp√©cifiques et r√©partie selon diff√©rentes cat√©gories d‚Äôutilisation.</li>
        <li><strong>Population : </strong>Nbre d‚Äôhabitants par pays et par an</li>
        <li><strong>Pib Par Habitant : </strong>Indice de mesure de la richesse moyenne par habitant. </li>
        <li><strong>Political Stability :</strong> Indice de stabilit√© politique par pays par an</li>
    </ul>
</div>

In [3]:
#Importation du fichier Disponibilit√© alimentaires
df_dispo_alimentaire = pd.read_csv("data/DispoAlimentairesVolailles2022.csv", sep=",")

#Importation du fichier Population
df_population = pd.read_csv("data/Population2018-2023.csv", sep=",")

#Importation du fichier Political Stability
df_political_stability = pd.read_csv("data/PoliticalStability.csv", sep=",")

#Importation du fichier Pib par habitant
df_pib = pd.read_csv("data/PibParHabitant.csv", sep=",")

<div style="background-color:#638BC9;" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">√âtape 2 - Analyse Exploratoire des fichiers</h2>
</div>

In [4]:
#Fonction d'analyse exploratoire des fichiers en lignes
def analyze_columns_line_by_line(df):    
    print("\nüìä **Analyse Exploratoire du DataFrame** üìä\n")
    for col in df.columns:
        print(f"üîπ **Colonne :** {col}")
        print(f"   - Type de donn√©es : {df[col].dtype}")
        print(f"   - Valeurs manquantes : {df[col].isnull().sum()}")
        print(f"   - Unique : {df[col].nunique(dropna=True)}")
        print(f"   - Distinct : {(df[col].value_counts() == 1).sum()}")
        print(f"   - Min : {df[col].dropna().min()}")
        print(f"   - Max : {df[col].dropna().max()}")
        print("-" * 50)  # S√©parateur visuel entre les colonnes

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">2.1 - Analyse exploratoire du fichier Disponibilit√© alimentaires</h3>
</div>

In [5]:
#Afficher les 5 premi√®res lignes du dataframe
df_dispo_alimentaire.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code √âl√©ment,√âl√©ment,Code Produit (FBS),Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2734,Viande de Volailles,2022,2022,1000 t,29.0,I,Valeur imput√©e,NaN
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - quantit√©,S2734,Viande de Volailles,2022,2022,1000 t,7.0,I,Valeur imput√©e,NaN
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5072,Variation de stock,S2734,Viande de Volailles,2022,2022,1000 t,1.0,I,Valeur imput√©e,NaN
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5301,Disponibilit√© int√©rieure,S2734,Viande de Volailles,2022,2022,1000 t,36.0,I,Valeur imput√©e,NaN
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5170,R√©sidus,S2734,Viande de Volailles,2022,2022,1000 t,0.0,I,Valeur imput√©e,NaN

In [6]:
#Afficher les dimensions du dataset
print("Le dataframe comporte {} observation(s) ou ligne(s)".format(df_dispo_alimentaire.shape[0]))
print("Le dataframe comporte {} colonne(s)".format(df_dispo_alimentaire.shape[1]))

# Analyse du df
analyze_columns_line_by_line(df_dispo_alimentaire)

Le dataframe comporte 2699 observation(s) ou ligne(s)
Le dataframe comporte 15 colonne(s)

üìä **Analyse Exploratoire du DataFrame** üìä

üîπ **Colonne :** Code Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : FBS
   - Max : FBS
--------------------------------------------------
üîπ **Colonne :** Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Bilans Alimentaires (2010-)
   - Max : Bilans Alimentaires (2010-)
--------------------------------------------------
üîπ **Colonne :** Code zone (M49)
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 189
   - Distinct : 0
   - Min : 4
   - Max : 894
--------------------------------------------------
üîπ **Colonne :** Zone
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 189
   - Distinct : 0
   - Min : Afghanistan
   - Max : √éles Salomon
--------------------------------------------------
üîπ **Colonne :** Code √âl√©ment
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 18
   - Distinct : 0
   - Min : 645
   - Max : 5911
--------------------------------------------------
üîπ **Colonne :** √âl√©ment
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 18
   - Distinct : 0
   - Min : Alimentation pour touristes
   - Max : Variation de stock
--------------------------------------------------
üîπ **Colonne :** Code Produit (FBS)
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : S2734
   - Max : S2734
--------------------------------------------------
üîπ **Colonne :** Produit
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Viande de Volailles
   - Max : Viande de Volailles
--------------------------------------------------
üîπ **Colonne :** Code ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 2022
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 2022
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Unit√©
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 6
   - Distinct : 0
   - Min : 1000 t
   - Max : tonnes
--------------------------------------------------
üîπ **Colonne :** Valeur
   - Type de donn√©es : float64
   - Valeurs manquantes : 0
   - Unique : 1608
   - Distinct : 1388
   - Min : -440.0
   - Max : 43012719.94
--------------------------------------------------
üîπ **Colonne :** Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 2
   - Distinct : 0
   - Min : E
   - Max : I
--------------------------------------------------
üîπ **Colonne :** Description du Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 2
   - Distinct : 0
   - Min : Valeur estim√©e
   - Max : Valeur imput√©e
--------------------------------------------------
üîπ **Colonne :** Note
   - Type de donn√©es : float64
   - Valeurs manquantes : 2699
   - Unique : 0
   - Distinct : 0
   - Min : nan
   - Max : nan
--------------------------------------------------

In [7]:
# On affiche les diff√©rentes valeurs de Elements et d'unit√©
df_elements = df_dispo_alimentaire[["√âl√©ment", "Unit√©"]].drop_duplicates()

print(df_elements.head(18))

                                               √âl√©ment               Unit√©
0                                           Production              1000 t
1                              Importations - quantit√©              1000 t
2                                   Variation de stock              1000 t
3                             Disponibilit√© int√©rieure              1000 t
4                                              R√©sidus              1000 t
5                                           Nourriture              1000 t
6    Disponibilit√© alimentaire en quantit√© (kg/pers...       kcal/personne
7       Disponibilit√© alimentaire (Kcal/personne/jour)  kcal/personne/jour
8                     Disponibilit√© alimentaire (Kcal)    millions de kcal
9    Disponibilit√© de prot√©ines en quantit√© (g/pers...     g/personne/jour
10          Disponibilit√© de prot√©ines en quantit√© (t)              tonnes
11   Disponibilit√© de mati√®re grasse en quantit√© (g...     g/personne/jour
12     Disponibilit√© de mati√®re grasse en quantit√© (t)              tonnes
16                             Exportations - quantit√©              1000 t
59                                          Traitement              1000 t
88               Autres utilisations (non alimentaire)              1000 t
89                         Alimentation pour touristes              1000 t
132                                             Pertes              1000 t

<div style="background:#FFEEDA;padding:10px;">
Cette premi√®re analyse nous permet d'identifier les colonnes et leur types de contenu. On note des colonnes inutiles avec des informations redondantes qui peuvent √™tre supprim√©es du dataset.<br/> On note √©galement les diff√©rents √©l√©ments qui repr√©sentent nos indicateurs. On supprimera ceux qui ne sont pas pertinent pour notre analyse.
</div>

In [8]:
#On supprime les colonnes inutiles
df_dispo_alimentaire.drop(columns=["Code Domaine", "Domaine", "Code zone (M49)","Code √âl√©ment","Code Produit (FBS)","Produit","Code ann√©e","Symbole","Description du Symbole","Note"], inplace=True)

In [9]:
#Afficher les 5 premi√®res lignes du dataframe
df_dispo_alimentaire.head()

          Zone                   √âl√©ment  Ann√©e   Unit√©  Valeur
0  Afghanistan                Production   2022  1000 t    29.0
1  Afghanistan   Importations - quantit√©   2022  1000 t     7.0
2  Afghanistan        Variation de stock   2022  1000 t     1.0
3  Afghanistan  Disponibilit√© int√©rieure   2022  1000 t    36.0
4  Afghanistan                   R√©sidus   2022  1000 t     0.0

<div style="background:#FFEEDA;padding:10px;">
Nous allons modifier le dataframe afin que chaque indicateurs soit repr√©sent√© par une colonne, puis nous supprimerons les indicateurs non utiles √† notre analyse.
</div>

In [10]:
#On pivote le datframe pour visualiser les diff√©rents indicateurs
df_dispo_alimentaire_pivot = df_dispo_alimentaire.pivot(index=["Zone", "Ann√©e"], columns="√âl√©ment", values="Valeur") \
                                   .rename_axis(None, axis=1) \
                                   .reset_index()

In [11]:
#On supprime les colonnes inutiles
df_dispo_alimentaire_pivot.drop(columns=["R√©sidus", "Nourriture", "Disponibilit√© alimentaire (Kcal/personne/jour)","Disponibilit√© alimentaire (Kcal)","Disponibilit√© de prot√©ines en quantit√© (g/personne/jour)","Disponibilit√© de prot√©ines en quantit√© (t)","Disponibilit√© de mati√®re grasse en quantit√© (g/personne/jour)","Disponibilit√© de mati√®re grasse en quantit√© (t)","Traitement","Autres utilisations (non alimentaire)","Alimentation pour touristes","Pertes"], inplace=True)

In [12]:
df_dispo_alimentaire_pivot.head()

,Zone,Ann√©e,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure,Exportations - quantit√©,Importations - quantit√©,Production,Variation de stock
0,Afghanistan,2022,0.87,36.0,NaN,7.0,29.0,1.0
1,Afrique du Sud,2022,39.57,2370.0,50.0,304.0,1958.0,-157.0
2,Albanie,2022,22.56,64.0,NaN,47.0,18.0,0.0
3,Alg√©rie,2022,6.13,275.0,0.0,0.0,275.0,0.0
4,Allemagne,2022,16.51,1462.0,664.0,789.0,1507.0,170.0

In [13]:
# Cr√©ation du DataFrame temporaire avec uniquement les lignes contenant au moins un NaN
df_temp = df_dispo_alimentaire_pivot[df_dispo_alimentaire_pivot.isna().any(axis=1)]

# V√©rification du nombre de lignes et colonnes avec des valeurs manquantes
print(f"Nombre de lignes avec NaN : {df_temp.shape[0]}")
print(f"Nombre total de valeurs manquantes : {df_temp.isna().sum().sum()}")

Nombre de lignes avec NaN : 52
Nombre total de valeurs manquantes : 54

In [14]:
# Affichage des premi√®res lignes du DataFrame temporaire
df_temp.head(52)

,Zone,Ann√©e,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure,Exportations - quantit√©,Importations - quantit√©,Production,Variation de stock
0,Afghanistan,2022,0.87,36.0,NaN,7.0,29.0,1.0
2,Albanie,2022,22.56,64.0,NaN,47.0,18.0,0.0
13,Bahamas,2022,63.27,28.0,NaN,22.0,6.0,0.0
18,Belize,2022,30.33,21.0,NaN,0.0,21.0,0.0
25,Burkina Faso,2022,6.66,151.0,NaN,0.0,151.0,0.0
26,Burundi,2022,0.66,8.0,NaN,0.0,8.0,0.0
29,Cabo Verde,2022,23.13,14.0,NaN,13.0,0.0,0.0
30,Cambodge,2022,1.83,31.0,NaN,7.0,26.0,2.0
36,Chine - RAS de Macao,2022,49.61,34.0,NaN,32.0,3.0,0.0
40,Colombie,2022,36.65,1901.0,NaN,81.0,1820.0,0.0
41,Comores,2022,23.05,19.0,NaN,14.0,1.0,-5.0
45,Cuba,2022,29.80,336.0,NaN,317.0,19.0,0.0
48,Djibouti,2022,3.99,4.0,NaN,4.0,NaN,0.0
49,Dominique,2022,46.46,4.0,NaN,4.0,0.0,0.0
58,Gabon,2022,38.34,92.0,NaN,87.0,4.0,0.0
59,Gambie,2022,20.07,54.0,NaN,53.0,1.0,0.0
65,Guin√©e-Bissau,2022,2.94,6.0,NaN,3.0,3.0,0.0
66,Guyana,2022,65.81,53.0,NaN,1.0,57.0,5.0
68,Ha√Øti,2022,9.92,115.0,NaN,106.0,9.0,0.0
85,Kiribati,2022,23.71,3.0,NaN,2.0,1.0,0.0
87,Lesotho,2022,1.02,2.0,NaN,1.0,1.0,0.0
91,Lib√©ria,2022,12.99,69.0,NaN,54.0,15.0,0.0
95,Madagascar,2022,3.03,90.0,NaN,0.0,89.0,0.0
98,Maldives,2022,21.80,18.0,NaN,18.0,NaN,0.0
99,Mali,2022,2.55,58.0,NaN,2.0,61.0,6.0
103,Mauritanie,2022,7.81,37.0,NaN,48.0,4.0,15.0
105,Micron√©sie (√âtats f√©d√©r√©s de),2022,37.77,4.0,NaN,4.0,0.0,0.0
109,Myanmar,2022,12.09,683.0,NaN,1.0,683.0,0.0
111,Nauru,2022,46.87,1.0,NaN,1.0,0.0,0.0
113,Niger,2022,0.86,22.0,NaN,2.0,20.0,0.0
116,Nouvelle-Cal√©donie,2022,36.57,11.0,NaN,10.0,1.0,0.0
118,N√©pal,2022,6.73,206.0,NaN,0.0,206.0,0.0
124,Papouasie-Nouvelle-Guin√©e,2022,3.52,36.0,NaN,29.0,7.0,0.0
132,Qatar,2022,59.16,165.0,NaN,149.0,26.0,10.0
142,R√©publique d√©mocratique populaire lao,2022,6.34,48.0,NaN,5.0,43.0,0.0
146,Sainte-Lucie,2022,65.17,12.0,NaN,11.0,1.0,0.0
147,Samoa,2022,73.98,18.0,NaN,17.0,0.0,0.0
148,Sao Tom√©-et-Principe,2022,14.61,3.0,NaN,2.0,1.0,0.0
154,Somalie,2022,0.79,14.0,NaN,10.0,4.0,0.0
155,Soudan,2022,1.69,79.0,NaN,1.0,85.0,7.0
156,Soudan du Sud,2022,4.77,55.0,NaN,3.0,52.0,0.0
163,Tchad,2022,0.48,9.0,NaN,3.0,7.0,0.0
166,Timor-Leste,2022,5.43,7.0,NaN,6.0,1.0,0.0
168,Tonga,2022,90.61,10.0,NaN,9.0,0.0,0.0
173,Tuvalu,2022,42.35,0.0,NaN,0.0,0.0,0.0
176,Vanuatu,2022,16.16,5.0,NaN,5.0,1.0,0.0
177,Venezuela (R√©publique bolivarienne du),2022,15.88,449.0,NaN,23.0,426.0,0.0
179,Y√©men,2022,9.06,305.0,NaN,103.0,202.0,0.0
181,Zimbabwe,2022,7.18,117.0,NaN,5.0,112.0,0.0
186,√âthiopie,2022,0.40,49.0,NaN,0.0,49.0,1.0
187,√éles Marshall,2022,74.75,3.0,0.0,3.0,NaN,0.0
188,√éles Salomon,2022,9.41,7.0,NaN,7.0,0.0,0.0

<div style="background:#FFEEDA;padding:10px;">
Les donn√©es manquantes sont principalement li√©es aux quantit√©s d'exportations. En analysant les valeurs et en les comparant avec celle de la production, de la disponibilit√© int√©rieure et de l'importation, on observe une corr√©lation logique avec une valeur √† 0 des exportations. Il en va de m√™me pour les informations manquantes li√©es √† la production. On peut donc remplacer les valeurs absentes par 0.
</div>

In [15]:
#remplacement des valeurs vides dans le dataset par des 0
df_dispo_alimentaire_pivot.fillna(0, inplace=True)

In [16]:
#On renomme les colonnes (pour conserver les informations d'unit√©)
df_dispo_alimentaire_pivot.rename(columns={"Disponibilit√© int√©rieure": "Disponibilit√© int√©rieure (1000t)"}, inplace=True)
df_dispo_alimentaire_pivot.rename(columns={"Exportations - quantit√©": "Exportations (1000t)"}, inplace=True)
df_dispo_alimentaire_pivot.rename(columns={"Importations - quantit√©": "Importations (1000t)"}, inplace=True)
df_dispo_alimentaire_pivot.rename(columns={"Production": "Production (1000t)"}, inplace=True)
df_dispo_alimentaire_pivot.rename(columns={"Variation de stock": "Variation stock (1000t)"}, inplace=True)

In [17]:
#On r√©atribue le nom du dataframe
df_dispo_alimentaire = df_dispo_alimentaire_pivot

#Afficher le dataframe
df_dispo_alimentaire.head()

,Zone,Ann√©e,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t)
0,Afghanistan,2022,0.87,36.0,0.0,7.0,29.0,1.0
1,Afrique du Sud,2022,39.57,2370.0,50.0,304.0,1958.0,-157.0
2,Albanie,2022,22.56,64.0,0.0,47.0,18.0,0.0
3,Alg√©rie,2022,6.13,275.0,0.0,0.0,275.0,0.0
4,Allemagne,2022,16.51,1462.0,664.0,789.0,1507.0,170.0

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">2.1 - Analyse exploratoire du fichier Population</h3>
</div>

In [18]:
#Afficher les 5 premi√®res lignes du dataframe
df_population.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code √âl√©ment,√âl√©ment,Code Produit (FBS),Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2018,2018,1000 No,36686.78,X,Ciffre de sources internationales,NaN
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2019,2019,1000 No,37769.50,X,Ciffre de sources internationales,NaN
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2020,2020,1000 No,38972.23,X,Ciffre de sources internationales,NaN
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2021,2021,1000 No,40099.46,X,Ciffre de sources internationales,NaN
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,511,Population totale,S2501,Population,2022,2022,1000 No,41128.77,X,Ciffre de sources internationales,NaN

In [19]:
#Afficher les dimensions du dataset
print("Le dataframe comporte {} observation(s) ou ligne(s)".format(df_population.shape[0]))
print("Le dataframe comporte {} colonne(s)".format(df_population.shape[1]))

# Analyse du df
analyze_columns_line_by_line(df_population)

Le dataframe comporte 937 observation(s) ou ligne(s)
Le dataframe comporte 15 colonne(s)

üìä **Analyse Exploratoire du DataFrame** üìä

üîπ **Colonne :** Code Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : FBS
   - Max : FBS
--------------------------------------------------
üîπ **Colonne :** Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Bilans Alimentaires (2010-)
   - Max : Bilans Alimentaires (2010-)
--------------------------------------------------
üîπ **Colonne :** Code zone (M49)
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 190
   - Distinct : 1
   - Min : 4
   - Max : 894
--------------------------------------------------
üîπ **Colonne :** Zone
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 190
   - Distinct : 1
   - Min : Afghanistan
   - Max : √éles Salomon
--------------------------------------------------
üîπ **Colonne :** Code √âl√©ment
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 511
   - Max : 511
--------------------------------------------------
üîπ **Colonne :** √âl√©ment
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Population totale
   - Max : Population totale
--------------------------------------------------
üîπ **Colonne :** Code Produit (FBS)
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : S2501
   - Max : S2501
--------------------------------------------------
üîπ **Colonne :** Produit
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Population
   - Max : Population
--------------------------------------------------
üîπ **Colonne :** Code ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 5
   - Distinct : 0
   - Min : 2018
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 5
   - Distinct : 0
   - Min : 2018
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Unit√©
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 1000 No
   - Max : 1000 No
--------------------------------------------------
üîπ **Colonne :** Valeur
   - Type de donn√©es : float64
   - Valeurs manquantes : 0
   - Unique : 936
   - Distinct : 935
   - Min : 10.96
   - Max : 1457964.77
--------------------------------------------------
üîπ **Colonne :** Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : X
   - Max : X
--------------------------------------------------
üîπ **Colonne :** Description du Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Ciffre de sources internationales
   - Max : Ciffre de sources internationales
--------------------------------------------------
üîπ **Colonne :** Note
   - Type de donn√©es : float64
   - Valeurs manquantes : 937
   - Unique : 0
   - Distinct : 0
   - Min : nan
   - Max : nan
--------------------------------------------------

<div style="background:#FFEEDA;padding:10px;">
Cette premi√®re analyse nous permet d'identifier les colonnes et leur types de contenu. On note des colonnes inutiles avec des informations redondantes qui peuvent √™tre supprim√©es du dataset.
    <br/>La colonne unit√© nous apprend √©galement que les valeurs de population sont exprim√©es en milliers, cela peut cr√©er une confusion. L'harmonisation permettra de transformer ces valeurs en nombre total d'individus.
</div>

In [20]:
#On supprime les colonnes inutiles
df_population.drop(columns=["Code Domaine","Domaine","Code zone (M49)","Code √âl√©ment","√âl√©ment","Code Produit (FBS)","Produit","Code ann√©e","Unit√©","Symbole","Description du Symbole","Note"], inplace=True)

In [21]:
#Nous allons harmoniser les unit√©s. Pour cela, nous allons multiplier la population par 1000
#Multiplication de la colonne valeur par 1000
df_population['Valeur'] = df_population['Valeur'] * 1000

In [22]:
#changement du nom de la colonne Valeur par Population
df_population.rename(columns={'Valeur': 'Population'}, inplace=True)

In [23]:
#Affichage les 5 premi√®res lignes de la table pour voir les modifications
df_population.head(5)

          Zone  Ann√©e  Population
0  Afghanistan   2018  36686780.0
1  Afghanistan   2019  37769500.0
2  Afghanistan   2020  38972230.0
3  Afghanistan   2021  40099460.0
4  Afghanistan   2022  41128770.0

<div style="background:#FFEEDA;padding:10px;">
Les donn√©es sont pr√©sentes pour plusieurs ann√©es. Nous souhaitons connaitre les donn√©es les plus r√©centes par pays pour connaitre la population actuelle. Pour cela nous allons d√©terminer l'ann√©e la plus r√©cente ou l'information est fournie pour un pays.
    <br/>Dans un second temps nous voulons d√©terminer la croissance d√©mographique de la population de chaque pays.
</div>

In [24]:
#On v√©rifie les ann√©es disponibles par pays
df_population_pivot = df_population.pivot(index="Zone", columns="Ann√©e", values="Population") \
                                   .rename_axis(None, axis=1) \
                                   .reset_index()
df_population_pivot.head()

             Zone        2018        2019        2020        2021        2022
0     Afghanistan  36686780.0  37769500.0  38972230.0  40099460.0  41128770.0
1  Afrique du Sud  57339640.0  58087060.0  58801930.0  59392250.0  59893890.0
2         Albanie   2877010.0   2873880.0   2866850.0   2854710.0   2842320.0
3         Alg√©rie  41927010.0  42705370.0  43451670.0  44177970.0  44903220.0
4       Allemagne  82896700.0  83148140.0  83328990.0  83408550.0  83369840.0

In [25]:
# On v√©rifie si il y a des valeurs manquantes
df_population_nan = df_population_pivot[df_population_pivot.isna().any(axis=1)]
df_population_nan.head(20)

,Zone,2018,2019,2020,2021,2022
14,Bahre√Øn,NaN,1494190.0,1477470.0,1463270.0,1472230.0
19,Bhoutan,NaN,767460.0,772510.0,777490.0,782460.0
105,Micron√©sie (√âtats f√©d√©r√©s de),NaN,111380.0,112110.0,113130.0,114160.0
111,Nauru,NaN,12130.0,12310.0,12510.0,12670.0
132,Qatar,NaN,2807240.0,2760390.0,2688240.0,2695120.0
143,R√©publique populaire d√©mocratique de Cor√©e,25638150.0,NaN,NaN,NaN,NaN
157,Soudan du Sud,NaN,10447670.0,10606230.0,10748270.0,10913160.0
169,Tonga,NaN,104950.0,105250.0,106020.0,106860.0
174,Tuvalu,NaN,10960.0,11070.0,11200.0,11310.0
188,√éles Marshall,NaN,44730.0,43410.0,42050.0,41570.0

<div style="background:#FFEEDA;padding:10px;">
Les donn√©es maquantes peuvent √™tres corrig√©es ou peuvent √™tre ignor√©e dans le calcul de la croissance de la population.
On s√©lectionnera alors l'ann√©e la plus ancienne et la plus r√©cente disponible pour chaque pays.
</div>

In [26]:
#On compl√®te les informations pour la R√©publique de Cor√©e (avec des sources nouvelles)
#Dans notre analyse on pourrait aussi choisir d'exclure ce pays (sa sitiation politique l'exclut de base comme candidat)
df_population_pivot.loc["R√©publique populaire d√©mocratique de Cor√©e", 2019] = 26040000
df_population_pivot.loc["R√©publique populaire d√©mocratique de Cor√©e", 2020] = 26140000
df_population_pivot.loc["R√©publique populaire d√©mocratique de Cor√©e", 2021] = 26230000
df_population_pivot.loc["R√©publique populaire d√©mocratique de Cor√©e", 2022] = 26330000

In [27]:
# S√©lection des colonnes contenant les ann√©es
annees_colonnes = [col for col in df_population_pivot.columns if isinstance(col, int)]

# D√©terminer l'ann√©e la plus ancienne et la plus r√©cente pour chaque pays
df_population_pivot["Ann√©e_min"] = df_population_pivot[annees_colonnes].apply(lambda row: min(row.dropna().index), axis=1)
df_population_pivot["Ann√©e_max"] = df_population_pivot[annees_colonnes].apply(lambda row: max(row.dropna().index), axis=1)

# Extraire la population initiale et finale
df_population_pivot["Pop_initiale"] = df_population_pivot.apply(lambda row: row[row["Ann√©e_min"]], axis=1)
df_population_pivot["Population"] = df_population_pivot.apply(lambda row: row[row["Ann√©e_max"]], axis=1)

# Calcul du nombre d'ann√©es d'intervalle
df_population_pivot["N"] = df_population_pivot["Ann√©e_max"] - df_population_pivot["Ann√©e_min"]

# Calcul de la croissance moyenne annuelle (%) sur l'intervalle disponible
df_population_pivot["Croissance population (%)"] = (((df_population_pivot["Population"] / df_population_pivot["Pop_initiale"]) ** (1 / df_population_pivot["N"]) - 1) * 100).round(2)

# Affichage du tableau final avec la croissance pour tous les pays
df_population_pivot.head()

,Zone,2018,2019,2020,2021,2022,Ann√©e_min,Ann√©e_max,Pop_initiale,Population,N,Croissance population (%)
0,Afghanistan,36686780.0,37769500.0,38972230.0,40099460.0,41128770.0,2018,2022,36686780.0,41128770.0,4,2.90
1,Afrique du Sud,57339640.0,58087060.0,58801930.0,59392250.0,59893890.0,2018,2022,57339640.0,59893890.0,4,1.10
2,Albanie,2877010.0,2873880.0,2866850.0,2854710.0,2842320.0,2018,2022,2877010.0,2842320.0,4,-0.30
3,Alg√©rie,41927010.0,42705370.0,43451670.0,44177970.0,44903220.0,2018,2022,41927010.0,44903220.0,4,1.73
4,Allemagne,82896700.0,83148140.0,83328990.0,83408550.0,83369840.0,2018,2022,82896700.0,83369840.0,4,0.14

In [28]:
#On conserve uniquement les colonnes pertinentes
df_population_pivot = df_population_pivot.drop(columns=[2018, 2019, 2020, 2021, 2022, "Ann√©e_min", "Ann√©e_max", "Pop_initiale", "N"])

In [29]:
# Affichage des premi√®res lignes 
df_population_pivot.head()

             Zone  Population  Croissance population (%)
0     Afghanistan  41128770.0                       2.90
1  Afrique du Sud  59893890.0                       1.10
2         Albanie   2842320.0                      -0.30
3         Alg√©rie  44903220.0                       1.73
4       Allemagne  83369840.0                       0.14

In [30]:
#On r√©atribue le nom du dataframe
df_population = df_population_pivot

# Affichage des premi√®res lignes 
df_population.head()

             Zone  Population  Croissance population (%)
0     Afghanistan  41128770.0                       2.90
1  Afrique du Sud  59893890.0                       1.10
2         Albanie   2842320.0                      -0.30
3         Alg√©rie  44903220.0                       1.73
4       Allemagne  83369840.0                       0.14

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">2.3 - Analyse exploratoire du fichier Political Stability</h3>
</div>

In [31]:
#Afficher les 5 premi√®res lignes du dataframe
df_political_stability.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
0,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilit√© politique et absence de violence/ter...,2019,2019,NaN,-2.65,X,Ciffre de sources internationales,NaN
1,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilit√© politique et absence de violence/ter...,2020,2020,NaN,-2.70,X,Ciffre de sources internationales,NaN
2,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilit√© politique et absence de violence/ter...,2021,2021,NaN,-2.52,X,Ciffre de sources internationales,NaN
3,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilit√© politique et absence de violence/ter...,2022,2022,NaN,-2.55,X,Ciffre de sources internationales,NaN
4,FS,Donn√©es de la s√©curit√© alimentaire,710,Afrique du Sud,6125,Valeur,21032,Stabilit√© politique et absence de violence/ter...,2019,2019,NaN,-0.28,X,Ciffre de sources internationales,NaN

In [32]:
#Afficher les dimensions du dataset
print("Le dataframe comporte {} observation(s) ou ligne(s)".format(df_political_stability.shape[0]))
print("Le dataframe comporte {} colonne(s)".format(df_political_stability.shape[1]))

# Analyse du df
analyze_columns_line_by_line(df_political_stability)

Le dataframe comporte 784 observation(s) ou ligne(s)
Le dataframe comporte 15 colonne(s)

üìä **Analyse Exploratoire du DataFrame** üìä

üîπ **Colonne :** Code Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : FS
   - Max : FS
--------------------------------------------------
üîπ **Colonne :** Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Donn√©es de la s√©curit√© alimentaire
   - Max : Donn√©es de la s√©curit√© alimentaire
--------------------------------------------------
üîπ **Colonne :** Code zone (M49)
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 196
   - Distinct : 0
   - Min : 4
   - Max : 894
--------------------------------------------------
üîπ **Colonne :** Zone
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 196
   - Distinct : 0
   - Min : Afghanistan
   - Max : √éles Salomon
--------------------------------------------------
üîπ **Colonne :** Code √âl√©ment
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 6125
   - Max : 6125
--------------------------------------------------
üîπ **Colonne :** √âl√©ment
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Valeur
   - Max : Valeur
--------------------------------------------------
üîπ **Colonne :** Code Produit
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 21032
   - Max : 21032
--------------------------------------------------
üîπ **Colonne :** Produit
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Stabilit√© politique et absence de violence/terrorisme (indice)
   - Max : Stabilit√© politique et absence de violence/terrorisme (indice)
--------------------------------------------------
üîπ **Colonne :** Code ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 4
   - Distinct : 0
   - Min : 2019
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 4
   - Distinct : 0
   - Min : 2019
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Unit√©
   - Type de donn√©es : float64
   - Valeurs manquantes : 784
   - Unique : 0
   - Distinct : 0
   - Min : nan
   - Max : nan
--------------------------------------------------
üîπ **Colonne :** Valeur
   - Type de donn√©es : float64
   - Valeurs manquantes : 0
   - Unique : 315
   - Distinct : 107
   - Min : -2.8
   - Max : 1.91
--------------------------------------------------
üîπ **Colonne :** Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : X
   - Max : X
--------------------------------------------------
üîπ **Colonne :** Description du Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Ciffre de sources internationales
   - Max : Ciffre de sources internationales
--------------------------------------------------
üîπ **Colonne :** Note
   - Type de donn√©es : float64
   - Valeurs manquantes : 784
   - Unique : 0
   - Distinct : 0
   - Min : nan
   - Max : nan
--------------------------------------------------

In [33]:
#On supprime les colonnes inutiles
df_political_stability.drop(columns=["Code Domaine","Domaine","Code zone (M49)","Code √âl√©ment","√âl√©ment","Code Produit","Produit","Code ann√©e","Unit√©","Symbole","Description du Symbole","Note"], inplace=True)

In [34]:
# Comme on a plusieures ann√©es on s√©lectionne la valeur la plus r√©cente disponible pour chaque pays
df_political_stability = df_political_stability.loc[df_political_stability.groupby("Zone")["Ann√©e"].idxmax()]

# Affichage des premi√®res lignes tri√©es
df_political_stability.head()

              Zone  Ann√©e  Valeur
3      Afghanistan   2022   -2.55
7   Afrique du Sud   2022   -0.72
11         Albanie   2022    0.11
15         Alg√©rie   2022   -0.74
19       Allemagne   2022    0.61

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">2.4 - Analyse exploratoire du fichier PIB Par Habitant</h3>
</div>

In [35]:
#Afficher les 5 premi√®res lignes du dataframe
df_pib.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code √âl√©ment,√âl√©ment,Code Produit,Produit,Code ann√©e,Ann√©e,Unit√©,Valeur,Symbole,Description du Symbole,Note
0,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2018,2018,Int$/cap,2906.8,X,Ciffre de sources internationales,NaN
1,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2019,2019,Int$/cap,2934.0,X,Ciffre de sources internationales,NaN
2,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2020,2020,Int$/cap,2776.6,X,Ciffre de sources internationales,NaN
3,FS,Donn√©es de la s√©curit√© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2021,2021,Int$/cap,2138.9,X,Ciffre de sources internationales,NaN
4,FS,Donn√©es de la s√©curit√© alimentaire,710,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2018,2018,Int$/cap,14871.0,X,Ciffre de sources internationales,NaN

In [36]:
#Afficher les dimensions du dataset
print("Le dataframe comporte {} observation(s) ou ligne(s)".format(df_pib.shape[0]))
print("Le dataframe comporte {} colonne(s)".format(df_pib.shape[1]))

# Analyse du df
analyze_columns_line_by_line(df_pib)

Le dataframe comporte 943 observation(s) ou ligne(s)
Le dataframe comporte 15 colonne(s)

üìä **Analyse Exploratoire du DataFrame** üìä

üîπ **Colonne :** Code Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : FS
   - Max : FS
--------------------------------------------------
üîπ **Colonne :** Domaine
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Donn√©es de la s√©curit√© alimentaire
   - Max : Donn√©es de la s√©curit√© alimentaire
--------------------------------------------------
üîπ **Colonne :** Code zone (M49)
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 190
   - Distinct : 0
   - Min : 4
   - Max : 894
--------------------------------------------------
üîπ **Colonne :** Zone
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 190
   - Distinct : 0
   - Min : Afghanistan
   - Max : √éles Salomon
--------------------------------------------------
üîπ **Colonne :** Code √âl√©ment
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 6126
   - Max : 6126
--------------------------------------------------
üîπ **Colonne :** √âl√©ment
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Valeur
   - Max : Valeur
--------------------------------------------------
üîπ **Colonne :** Code Produit
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : 22013
   - Max : 22013
--------------------------------------------------
üîπ **Colonne :** Produit
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : PIB par habitant, ($ PPA internationaux constants de 2017)
   - Max : PIB par habitant, ($ PPA internationaux constants de 2017)
--------------------------------------------------
üîπ **Colonne :** Code ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 5
   - Distinct : 0
   - Min : 2018
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 5
   - Distinct : 0
   - Min : 2018
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Unit√©
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Int$/cap
   - Max : Int$/cap
--------------------------------------------------
üîπ **Colonne :** Valeur
   - Type de donn√©es : float64
   - Valeurs manquantes : 0
   - Unique : 941
   - Distinct : 939
   - Min : 857.2
   - Max : 141486.0
--------------------------------------------------
üîπ **Colonne :** Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : X
   - Max : X
--------------------------------------------------
üîπ **Colonne :** Description du Symbole
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 1
   - Distinct : 0
   - Min : Ciffre de sources internationales
   - Max : Ciffre de sources internationales
--------------------------------------------------
üîπ **Colonne :** Note
   - Type de donn√©es : float64
   - Valeurs manquantes : 943
   - Unique : 0
   - Distinct : 0
   - Min : nan
   - Max : nan
--------------------------------------------------

In [37]:
#On supprime les colonnes inutiles
df_pib.drop(columns=["Code Domaine","Domaine","Code zone (M49)","Code √âl√©ment","√âl√©ment","Code Produit","Produit","Code ann√©e","Unit√©","Symbole","Description du Symbole","Note"], inplace=True)

In [38]:
# Comme on a plusieures ann√©es on s√©lectionne la valeur la plus r√©cente disponible pour chaque pays
df_pib = df_pib.loc[df_pib.groupby("Zone")["Ann√©e"].idxmax()]

# Affichage des premi√®res lignes tri√©es
df_pib.head()

              Zone  Ann√©e   Valeur
3      Afghanistan   2021   2138.9
8   Afrique du Sud   2022  14322.3
13         Albanie   2022  17261.0
18         Alg√©rie   2022  13090.9
23       Allemagne   2022  62605.5

In [39]:
# Analyse du df
analyze_columns_line_by_line(df_pib)

üìä **Analyse Exploratoire du DataFrame** üìä

üîπ **Colonne :** Zone
   - Type de donn√©es : object
   - Valeurs manquantes : 0
   - Unique : 190
   - Distinct : 190
   - Min : Afghanistan
   - Max : √éles Salomon
--------------------------------------------------
üîπ **Colonne :** Ann√©e
   - Type de donn√©es : int64
   - Valeurs manquantes : 0
   - Unique : 2
   - Distinct : 0
   - Min : 2021
   - Max : 2022
--------------------------------------------------
üîπ **Colonne :** Valeur
   - Type de donn√©es : float64
   - Valeurs manquantes : 0
   - Unique : 190
   - Distinct : 190
   - Min : 857.2
   - Max : 137059.0
--------------------------------------------------

<div style="background-color:#638BC9;" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">√âtape 3 - Fusion des dataframes</h2>
</div>

<div style="background:#FFEEDA;padding:10px;">
Nos dataframes ont √©t√© pr√©par√©s et nettoy√©s. Nous allons les fusionner afin de centraliser tous nos indicateurs dans un seul dataframe.
</div>

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">3.1 - Fusion du dataframe dispo_alimentaire et population</h3>
</div>

In [40]:
#On affiche le dataframe dispo_alimentaire
df_dispo_alimentaire.head()

,Zone,Ann√©e,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t)
0,Afghanistan,2022,0.87,36.0,0.0,7.0,29.0,1.0
1,Afrique du Sud,2022,39.57,2370.0,50.0,304.0,1958.0,-157.0
2,Albanie,2022,22.56,64.0,0.0,47.0,18.0,0.0
3,Alg√©rie,2022,6.13,275.0,0.0,0.0,275.0,0.0
4,Allemagne,2022,16.51,1462.0,664.0,789.0,1507.0,170.0

In [41]:
#On affiche le dataframe population
df_population.head()

             Zone  Population  Croissance population (%)
0     Afghanistan  41128770.0                       2.90
1  Afrique du Sud  59893890.0                       1.10
2         Albanie   2842320.0                      -0.30
3         Alg√©rie  44903220.0                       1.73
4       Allemagne  83369840.0                       0.14

In [42]:
#On fusionne les deux dataframe

# Nombre de lignes avant la fusion
nb_lignes_dispo_alimentaire = df_dispo_alimentaire.shape[0]
nb_lignes_population = df_population.shape[0]

# Fusion des DataFrames sur la colonne "Zone"
df_analyse = df_dispo_alimentaire.merge(df_population, on="Zone", how="left")

# Nombre de lignes apr√®s la fusion
nb_lignes_merged = df_analyse.shape[0]

# Affichage des r√©sultats
print("V√©rification du nombre de lignes avant et apr√®s fusion :\n")

print(f"Nombre de lignes dans df_analyse (avant fusion) : {nb_lignes_dispo_alimentaire}")
print(f"Nombre de lignes dans df_political_stability (avant fusion) : {nb_lignes_population}")
print(f"Nombre de lignes dans df_merged (apr√®s fusion) : {nb_lignes_merged}")

V√©rification du nombre de lignes avant et apr√®s fusion :

Nombre de lignes dans df_analyse (avant fusion) : 189
Nombre de lignes dans df_political_stability (avant fusion) : 191
Nombre de lignes dans df_merged (apr√®s fusion) : 189

In [43]:
#On supprime la colonne Ann√©e (inutile √† ce stade)
df_analyse = df_analyse.drop(columns=["Ann√©e"])

In [44]:
#On affiche le df fusionn√©
df_analyse.head()

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%)
0,Afghanistan,0.87,36.0,0.0,7.0,29.0,1.0,41128770.0,2.90
1,Afrique du Sud,39.57,2370.0,50.0,304.0,1958.0,-157.0,59893890.0,1.10
2,Albanie,22.56,64.0,0.0,47.0,18.0,0.0,2842320.0,-0.30
3,Alg√©rie,6.13,275.0,0.0,0.0,275.0,0.0,44903220.0,1.73
4,Allemagne,16.51,1462.0,664.0,789.0,1507.0,170.0,83369840.0,0.14

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">3.2 - Fusion du dataframe political stability</h3>
</div>

In [45]:
#On affiche le dataframe political stability
df_political_stability.head()

              Zone  Ann√©e  Valeur
3      Afghanistan   2022   -2.55
7   Afrique du Sud   2022   -0.72
11         Albanie   2022    0.11
15         Alg√©rie   2022   -0.74
19       Allemagne   2022    0.61

In [46]:
#On supprime la colonne Ann√©e (inutile √† ce stade)
df_political_stability = df_political_stability.drop(columns=["Ann√©e"])

In [47]:
#On renomme la colonne Valeur pour plus de clart√©
df_political_stability = df_political_stability.rename(columns={"Valeur": "Stabilit√© Politique"})

In [48]:
#On fusionne les deux dataframe

# Nombre de lignes avant la fusion
nb_lignes_analyse = df_analyse.shape[0]
nb_lignes_stability = df_political_stability.shape[0]

# Fusion des DataFrames sur la colonne "Zone"
df_analyse = df_analyse.merge(df_political_stability, on="Zone", how="left")

# Nombre de lignes apr√®s la fusion
nb_lignes_merged = df_analyse.shape[0]

# Affichage des r√©sultats
print("V√©rification du nombre de lignes avant et apr√®s fusion :\n")

print(f"Nombre de lignes dans df_analyse (avant fusion) : {nb_lignes_analyse}")
print(f"Nombre de lignes dans df_political_stability (avant fusion) : {nb_lignes_stability}")
print(f"Nombre de lignes dans df_merged (apr√®s fusion) : {nb_lignes_merged}")

V√©rification du nombre de lignes avant et apr√®s fusion :

Nombre de lignes dans df_analyse (avant fusion) : 189
Nombre de lignes dans df_political_stability (avant fusion) : 196
Nombre de lignes dans df_merged (apr√®s fusion) : 189

In [49]:
#On affiche le dataframe
df_analyse.head()

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique
0,Afghanistan,0.87,36.0,0.0,7.0,29.0,1.0,41128770.0,2.90,-2.55
1,Afrique du Sud,39.57,2370.0,50.0,304.0,1958.0,-157.0,59893890.0,1.10,-0.72
2,Albanie,22.56,64.0,0.0,47.0,18.0,0.0,2842320.0,-0.30,0.11
3,Alg√©rie,6.13,275.0,0.0,0.0,275.0,0.0,44903220.0,1.73,-0.74
4,Allemagne,16.51,1462.0,664.0,789.0,1507.0,170.0,83369840.0,0.14,0.61

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">3.3 - Fusion du dataframe Pib par habitant</h3>
</div>

In [50]:
#On affiche le dataframe pib par habitant
df_pib.head()

              Zone  Ann√©e   Valeur
3      Afghanistan   2021   2138.9
8   Afrique du Sud   2022  14322.3
13         Albanie   2022  17261.0
18         Alg√©rie   2022  13090.9
23       Allemagne   2022  62605.5

In [51]:
#On supprime la colonne Ann√©e (inutile √† ce stade)
df_pib = df_pib.drop(columns=["Ann√©e"])

In [52]:
#On renomme la colonne Valeur pour plus de clart√©
df_pib = df_pib.rename(columns={"Valeur": "Pib/habitant"})

In [53]:
#On fusionne les deux dataframe

# Nombre de lignes avant la fusion
nb_lignes_analyse = df_analyse.shape[0]
nb_lignes_pib = df_pib.shape[0]

# Fusion des DataFrames sur la colonne "Zone"
df_analyse = df_analyse.merge(df_pib, on="Zone", how="left")

# Nombre de lignes apr√®s la fusion
nb_lignes_merged = df_analyse.shape[0]

# Affichage des r√©sultats
print("V√©rification du nombre de lignes avant et apr√®s fusion :\n")

print(f"Nombre de lignes dans df_analyse (avant fusion) : {nb_lignes_analyse}")
print(f"Nombre de lignes dans df_political_stability (avant fusion) : {nb_lignes_pib}")
print(f"Nombre de lignes dans df_merged (apr√®s fusion) : {nb_lignes_merged}")

V√©rification du nombre de lignes avant et apr√®s fusion :

Nombre de lignes dans df_analyse (avant fusion) : 189
Nombre de lignes dans df_political_stability (avant fusion) : 190
Nombre de lignes dans df_merged (apr√®s fusion) : 189

In [54]:
#On affiche le dataframe
df_analyse.head()

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant
0,Afghanistan,0.87,36.0,0.0,7.0,29.0,1.0,41128770.0,2.90,-2.55,2138.9
1,Afrique du Sud,39.57,2370.0,50.0,304.0,1958.0,-157.0,59893890.0,1.10,-0.72,14322.3
2,Albanie,22.56,64.0,0.0,47.0,18.0,0.0,2842320.0,-0.30,0.11,17261.0
3,Alg√©rie,6.13,275.0,0.0,0.0,275.0,0.0,44903220.0,1.73,-0.74,13090.9
4,Allemagne,16.51,1462.0,664.0,789.0,1507.0,170.0,83369840.0,0.14,0.61,62605.5

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">3.4 - V√©rification du dataframe et gestion des valeurs manquantes</h3>
</div>

In [55]:
#On v√©rifie si il y a des informations manquantes dans le dataframe global
df_analyse_incomplet = df_analyse[df_analyse.isna().any(axis=1)]

# Afficher les premi√®res lignes du DataFrame r√©sultant
df_analyse_incomplet.head(50)

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant
34,Chine,17.69,25364.0,759.0,1871.0,24194.0,-57.0,1.457965e+09,0.16,NaN,21262.3
37,"Chine, Taiwan Province de",40.90,977.0,1.0,218.0,770.0,11.0,2.389340e+07,0.18,NaN,NaN
38,"Chine, continentale",17.14,23996.0,719.0,1316.0,23400.0,2.0,1.425887e+09,0.16,NaN,21019.5
45,Cuba,29.80,336.0,0.0,317.0,19.0,0.0,1.121219e+07,-0.26,0.50,NaN
116,Nouvelle-Cal√©donie,36.57,11.0,0.0,10.0,1.0,0.0,2.899500e+05,0.44,NaN,NaN
129,Polyn√©sie fran√ßaise,47.07,17.0,0.0,18.0,1.0,2.0,3.062800e+05,0.72,NaN,NaN
156,Soudan du Sud,4.77,55.0,0.0,3.0,52.0,0.0,1.091316e+07,1.46,-2.21,NaN
171,Turkm√©nistan,11.19,76.0,0.0,46.0,30.0,0.0,6.430770e+06,1.47,-0.10,NaN
177,Venezuela (R√©publique bolivarienne du),15.88,449.0,0.0,23.0,426.0,0.0,2.830170e+07,-1.30,-1.26,NaN
179,Y√©men,9.06,305.0,0.0,103.0,202.0,0.0,3.369661e+07,2.28,-2.48,NaN

<div style="background:#FFEEDA;padding:10px;">
Pour traiter ces valeurs vides, il est possible de supprimer les lignes. Notre √©chantillon de donn√©es contiendrais alors encore un nombre significatif de pays.
    <br/>La liste √©tant de petite taille, on peut aussi essayer de compl√©ter les informations via une recherche des informations manquantes, notamment en se r√©f√©rant au besoin √† des donn√©es plus anciennes pour certains pays.
    <br/><br/><em>A ce stade nous allons essayez de conserver le maximum de pays. Dans cette liste on retrouve notamment des pays comme la Chine ou la Polyn√©sie fran√ßaise qui sont des pays ou les √©changes peuvent √™tre int√©ressant. A l'inverse des pays comme le Soudan du Sud ou le Y√©men on peut de chance de devenir des partenaires commerciaux.</em>
</div>

In [56]:
#On compl√®te les valeurs manquantes si disponible

df_analyse.loc[df_analyse["Zone"] == "Chine", "Stabilit√© Politique"] = -0.26

df_analyse.loc[df_analyse["Zone"] == "Chine, Taiwan Province de", "Stabilit√© Politique"] = 0.85
df_analyse.loc[df_analyse["Zone"] == "Chine, Taiwan Province de", "Pib/habitant"] = 1

df_analyse.loc[df_analyse["Zone"] == "Chine, continentale", "Stabilit√© Politique"] = -0.26

#Il s'agit de t√©rritoires fran√ßais (attention on ne trouvera que des r√©sultats fran√ßais mais ces r√©gions peuvent avoir leur particularit√©)
df_analyse.loc[df_analyse["Zone"] == "Nouvelle-Cal√©donie", "Stabilit√© Politique"] = 0.33
df_analyse.loc[df_analyse["Zone"] == "Nouvelle-Cal√©donie", "Pib/habitant"] = 54988.3
df_analyse.loc[df_analyse["Zone"] == "Polyn√©sie fran√ßaise", "Stabilit√© Politique"] = 0.33
df_analyse.loc[df_analyse["Zone"] == "Polyn√©sie fran√ßaise", "Pib/habitant"] = 54988.3

In [57]:
#On supprime les lignes pour lesquels les informations ne sont pas disponibles
pays_a_supprimer = ["Cuba","Soudan du Sud", "Turkm√©nistan", "Venezuela (R√©publique bolivarienne du)", "Y√©men"]
df_analyse = df_analyse[~df_analyse["Zone"].isin(pays_a_supprimer)]

<div style="background-color:#638BC9;" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">√âtape 4 - Cr√©ation de variables compl√©mentaires</h2>
</div>

<div style="background:#FFEEDA;padding:10px;">
Pour compl√©ter les informations de nos dataframes de nouvelles variables (indicateurs) vont √™tre cr√©es √† partir des donn√©es pr√©sentes : 
    <ul>
        <li><strong>Croissance d√©mographique : </strong>Indicateur de la croissance moyenne annuelle du pays. Indicateur de l'√©volution √† venir du march√©.</li>
        <li><strong>Taux de stockage : </strong>Mesure la propension d‚Äôun pays √† stocker ou consommer rapidement sa production et ses importations.</li>
        <li><strong>Taux d‚Äôautosuffisance (%) : </strong>Indique si un pays produit suffisamment pour couvrir sa consommation. </li>
        <li><strong>Taux de d√©pendance aux importations (%) : </strong>Mesure la d√©pendance d‚Äôun pays aux importations pour sa consommation de volaille. </li>
    </ul>
</div>

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">4.1 - Cr√©ation de la variable Croissance d√©mographique</h3>
</div>

<div style="background:#FFEEDA;padding:10px;">
Cette variable est une mesure bas√© sur une moyenne exponentielle de l'√©volution de la d√©mographie au cours des derni√®res ann√©es. Elle permet de se faire une id√©e de l'√©volution en % de la population pour une ann√©e √† venir. Elle est un bon indicateur de la croissance d'un march√© pour un pays.
    <br/><em>Cette valeur a √©t√© calcul√©e pr√©c√©demmet dans le df_population : Croissance annuelle population (%).</em>
</div>

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">4.2 - Cr√©ation de la variable Taux de stockage</h3>
</div>

<div style="background:#FFEEDA;padding:10px;">
Le Taux de stockage mesure quelle proportion de la disponibilit√© int√©rieure est conserv√©e sous forme de stock plut√¥t que consomm√©e ou export√©e imm√©diatement.
    <br/>Taux de stockage = Variation de stock / Disponibilit√© Int√©rieure
    <br/><em>Ce pourcentage repr√©sente la part de l‚Äôoffre alimentaire qui est mise en r√©serve au lieu d‚Äô√™tre directement utilis√©e.</em>
</div>

In [58]:
# Calcul du Taux de stockage
df_analyse["Taux stockage (%)"] = (df_analyse["Variation stock (1000t)"] / df_analyse["Disponibilit√© int√©rieure (1000t)"] * 100).round(2)

# Affichage des premi√®res lignes du DataFrame
df_analyse.head()

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant,Taux stockage (%)
0,Afghanistan,0.87,36.0,0.0,7.0,29.0,1.0,41128770.0,2.90,-2.55,2138.9,2.78
1,Afrique du Sud,39.57,2370.0,50.0,304.0,1958.0,-157.0,59893890.0,1.10,-0.72,14322.3,-6.62
2,Albanie,22.56,64.0,0.0,47.0,18.0,0.0,2842320.0,-0.30,0.11,17261.0,0.00
3,Alg√©rie,6.13,275.0,0.0,0.0,275.0,0.0,44903220.0,1.73,-0.74,13090.9,0.00
4,Allemagne,16.51,1462.0,664.0,789.0,1507.0,170.0,83369840.0,0.14,0.61,62605.5,11.63

In [59]:
#On v√©rifie si il y a des informations manquantes dans le dataframe global
df_analyse_incomplet = df_analyse[df_analyse.isna().any(axis=1)]

# Afficher les premi√®res lignes du DataFrame r√©sultant
df_analyse_incomplet.head(50)

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant,Taux stockage (%)
173,Tuvalu,42.35,0.0,0.0,0.0,0.0,0.0,11310.0,1.05,1.18,5066.3,NaN

<div style="background:#FFEEDA;padding:10px;">
Les informations sur ce pays semblent peut fiable, on a bien une dispo par kg/personne/an mais avec des production a 0, imort 0, bref des donn√©es incompl√®tes. On supprime donc ce pays.
    <br/><em>Suppression sans regret de la liste, Tuvalu est une petite archipel ind√©pendante en Oc√©anie, proche de l'extension en tant qu'√©tat ind√©pendant.</em>
</div>

In [60]:
# Suppression de la ligne
df_analyse = df_analyse[df_analyse["Zone"] != "Tuvalu"]

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">4.3 - Cr√©ation de la variable Taux d‚Äôautosuffisance </h3>
</div>

<div style="background:#FFEEDA;padding:10px;">
Ce taux mesure quelle proportion de la disponibilit√© int√©rieure est couverte par la production locale.
    <br/>Taux¬†d‚Äôautosuffisance= Production¬†/ Disponibilit√© int√©rieur
    <br/><em>Ce pourcentage repr√©sente la part de la consommation int√©rieure qui est couverte par la production nationale.</em>
</div>

In [61]:
# Calcul du Taux d‚Äôautosuffisance en pourcentage
df_analyse["Taux autosuffisance (%)"] = ((df_analyse["Production (1000t)"] / df_analyse["Disponibilit√© int√©rieure (1000t)"]) * 100).round(2)

# Afficher dataframe
df_analyse.head()

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant,Taux stockage (%),Taux autosuffisance (%)
0,Afghanistan,0.87,36.0,0.0,7.0,29.0,1.0,41128770.0,2.90,-2.55,2138.9,2.78,80.56
1,Afrique du Sud,39.57,2370.0,50.0,304.0,1958.0,-157.0,59893890.0,1.10,-0.72,14322.3,-6.62,82.62
2,Albanie,22.56,64.0,0.0,47.0,18.0,0.0,2842320.0,-0.30,0.11,17261.0,0.00,28.12
3,Alg√©rie,6.13,275.0,0.0,0.0,275.0,0.0,44903220.0,1.73,-0.74,13090.9,0.00,100.00
4,Allemagne,16.51,1462.0,664.0,789.0,1507.0,170.0,83369840.0,0.14,0.61,62605.5,11.63,103.08

In [62]:
#On v√©rifie si il y a des informations manquantes dans le dataframe global
df_analyse_incomplet = df_analyse[df_analyse.isna().any(axis=1)]

# Afficher les premi√®res lignes du DataFrame r√©sultant
df_analyse_incomplet.head(50)

Empty DataFrame
Columns: [Zone, Disponibilit√© alimentaire en quantit√© (kg/personne/an), Disponibilit√© int√©rieure (1000t), Exportations (1000t), Importations (1000t), Production (1000t), Variation stock (1000t), Population, Croissance population (%), Stabilit√© Politique, Pib/habitant, Taux stockage (%), Taux autosuffisance (%)]
Index: []

<div style="background:#C0DFF4;" >
<h3 style="margin: auto; padding: 20px; color: #0D2E63; ">4.4 - Cr√©ation de la variable Taux de d√©pendance aux importations </h3>
</div>

<div style="background:#FFEEDA;padding:10px;">
Ce taux repr√©sente la part de la consommation int√©rieure qui est couverte par les importations plut√¥t que par la production nationale.
    <br/>Taux¬†de¬†d√©pendance¬†aux¬†importations = Importations¬†/ Disponibilit√© int√©rieur
    <br/><em>Ce pourcentage repr√©sente la part de la consommation int√©rieure qui est couverte par les importations plut√¥t que par la production nationale.</em>
</div>

In [63]:
# Calcul du Taux de d√©pendance aux importations
df_analyse["Taux d√©pendance importations (%)"] = ((df_analyse["Importations (1000t)"] / df_analyse["Disponibilit√© int√©rieure (1000t)"]) * 100).round(2)

# Afficher dataframe
df_analyse.head()

,Zone,Disponibilit√© alimentaire en quantit√© (kg/personne/an),Disponibilit√© int√©rieure (1000t),Exportations (1000t),Importations (1000t),Production (1000t),Variation stock (1000t),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant,Taux stockage (%),Taux autosuffisance (%),Taux d√©pendance importations (%)
0,Afghanistan,0.87,36.0,0.0,7.0,29.0,1.0,41128770.0,2.90,-2.55,2138.9,2.78,80.56,19.44
1,Afrique du Sud,39.57,2370.0,50.0,304.0,1958.0,-157.0,59893890.0,1.10,-0.72,14322.3,-6.62,82.62,12.83
2,Albanie,22.56,64.0,0.0,47.0,18.0,0.0,2842320.0,-0.30,0.11,17261.0,0.00,28.12,73.44
3,Alg√©rie,6.13,275.0,0.0,0.0,275.0,0.0,44903220.0,1.73,-0.74,13090.9,0.00,100.00,0.00
4,Allemagne,16.51,1462.0,664.0,789.0,1507.0,170.0,83369840.0,0.14,0.61,62605.5,11.63,103.08,53.97

In [64]:
#On v√©rifie si il y a des informations manquantes dans le dataframe global
df_analyse_incomplet = df_analyse[df_analyse.isna().any(axis=1)]

# Afficher les premi√®res lignes du DataFrame r√©sultant
df_analyse_incomplet.head(50)

Empty DataFrame
Columns: [Zone, Disponibilit√© alimentaire en quantit√© (kg/personne/an), Disponibilit√© int√©rieure (1000t), Exportations (1000t), Importations (1000t), Production (1000t), Variation stock (1000t), Population, Croissance population (%), Stabilit√© Politique, Pib/habitant, Taux stockage (%), Taux autosuffisance (%), Taux d√©pendance importations (%)]
Index: []

<div style="background-color:#638BC9;" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">√âtape 5 - Pr√©paration et exportation du dataframe pour analyse</h2>
</div>

In [65]:
#On supprime les colonnes inutiles afin de ne conserver que les variables s√©lectionn√©es pour notre analyse
df_analyse.drop(columns=["Disponibilit√© int√©rieure (1000t)","Exportations (1000t)","Importations (1000t)","Production (1000t)","Variation stock (1000t)"], inplace=True)

In [66]:
#On renomme les colonnes pour une meilleure lisibilit√©
df_analyse = df_analyse.rename(columns={
    "Disponibilit√© alimentaire en quantit√© (kg/personne/an)": "Dispo alimentaire (kg/per/an)",
})

In [67]:
# Afficher le dataframe
df_analyse.head()

,Zone,Dispo alimentaire (kg/per/an),Population,Croissance population (%),Stabilit√© Politique,Pib/habitant,Taux stockage (%),Taux autosuffisance (%),Taux d√©pendance importations (%)
0,Afghanistan,0.87,41128770.0,2.90,-2.55,2138.9,2.78,80.56,19.44
1,Afrique du Sud,39.57,59893890.0,1.10,-0.72,14322.3,-6.62,82.62,12.83
2,Albanie,22.56,2842320.0,-0.30,0.11,17261.0,0.00,28.12,73.44
3,Alg√©rie,6.13,44903220.0,1.73,-0.74,13090.9,0.00,100.00,0.00
4,Allemagne,16.51,83369840.0,0.14,0.61,62605.5,11.63,103.08,53.97

In [68]:
# Exportation du DataFrame en CSV
df_analyse.to_csv("donnees-analyse-exportation-volailles.csv", index=False, encoding="utf-8")